<ion-header>
  <ion-toolbar color='danger'>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light" defaultHref="home1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
    <ion-icon name="notifications" slot="end" (click)="notificationModal($event)"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    <img slot="end" src="../../../assets/001.JPG" (click)="presentModal($event)"/>
  </ion-toolbar>

  
</ion-header>


<ion-content>
  <div class="content_div">
    <div class="images" >
      <div class="one-image" *ngFor="let image of images">
        <img src="../../../assets/{{image}}" >
      </div>
    </div>
  </div>

</ion-content>